select {
	position: absolute;
	background-color: #17263c;
	color:white;
	min-width: 48px;
	min-height: 48px;
	font-weight: bold;
	font-size: 20px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
}

option {
	height: 40px;
}

@media screen and (max-width: 350px) {
	select {
	position: absolute;
	background-color: #17263c;
	color:white;
	min-width: 48px;
	min-height: 48px;
	font-weight: bold;
	font-size: 16px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
}

	}